semantic.cache
auto-save-list
anything-c-adaptive-history
tramp
*.elc
bookmarks
ac-comphist.dat
vendor/nxhtml/etc/schema/xhtml-loader.rnc*
elpa
var
url
projectile.cache
projectile-bookmarks.eld
menu_log.notes
customizations.el
abbrev_defs
.org-id-locations
.mc-lists.el
.emacs.desktop.lock
org-clock-save.el
session.*
smex-items
recentf
network-security.data
ido.last
history
ensime
forge-database.sqlite
games
transient