[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "git-emacs"]
	path = git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "wrap-region"]
	path = wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "textmate"]
	path = textmate
	url = git://github.com/defunkt/textmate.el.git
