[submodule "vendor/rsense"]
	path = vendor/rsense
	url = https://github.com/m2ym/rsense.git
[submodule "vendor/yasnippets-rails"]
	path = vendor/yasnippets-rails
	url = https://github.com/mknittig/yasnippets-rails.git
[submodule "vendor/yasnippets-rspec"]
	path = vendor/yasnippets-rspec
	url = git://github.com/maser/yasnippets-rspec.git
[submodule "vendor/evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/sauron"]
	path = vendor/sauron
	url = https://github.com/djcb/sauron.git
[submodule "vendor/multiple-cursors.el"]
	path = vendor/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
