[submodule "vendor/yasnippets-rails"]
	path = vendor/yasnippets-rails
	url = https://github.com/mknittig/yasnippets-rails.git
[submodule "vendor/yasnippets-rspec"]
	path = vendor/yasnippets-rspec
	url = git://github.com/maser/yasnippets-rspec.git
